* {
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #588b8b;
  background-color: #f0ead2;
  line-height: 1.5;

}

h{
  margin:0;
}
p {
  margin:0;
  font-size: xx-large;
}

header{
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #aed9e0;
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
 
}
header h1{
  color: #4A6B86ff;
  background-color:#f7fff7;
  padding: 5px 1% 5px 6%;
  margin:0;
  font-size: 4vw;
  line-height: 1;
}

nav{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav a{
 color:#588b8b;
  text-decoration-line: underline;
  padding: 5px 10px;
  font-size: 2.1rem;
  
}


main {
  margin-top: 20px;
  margin-bottom: 45px;
}

hero-banner{
  width:100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 5vh;
  color: #f7fff7;
  padding: 6% 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align:right;
}

.hero-banner h2{
  color:#4A6B86ff;
  background-color:#f7fff7;
  margin: 0;
  padding: 5 px 10px;
  font-size: 2.0rem;
  line-height:1.3;
  text-align-last: center;

}
.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.flex-item {
  border: 5px solid#4A6B86ff;
  background-color:#89b0ae;
  color: #4A6B86ff;
  flex-direction: row;
  flex-basis: auto;
  display:flex;
  padding: 5px;
  margin: 5em;
  font-size: 2.0rem;
}
.flex-item:first-child {
  flex-direction: row-reverse;
  min-height: 20px;
  flex-basis: auto;
}
.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.flex-item div {
  background-color: #f5cac3;
  padding: 8px 10px;
}
.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.contact address a {
  color: #4A6B86ff;
  padding: 15px;
  font-size: 2.5rem;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-flex;
}
.contact address a:hover {
  background-size: 100% 88%;
  color:#4a4e69;
}
.recycledetroit{
  flex-direction: row;
  background-image: url(".\assets\images\RecycleDetroit.jpg");
}

.tedbaker {
  flex-direction: row;
  background-image: url(".\assets\images\Ted Baker London.jpg");
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }
  }
  header h1 {
    padding: 5px;
    margin-bottom: 10px;
   
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 8px solid #f5cac3;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 3vw;
  }
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction:row;
    align-items: flex-start;
    
  }
}